*{
  font-family: sans-serif;
}
* a{
  text-decoration: none;
}
.nav li{
    list-style-type: none;
    color: black;
}
.nav img{
    width: 15px;
}
.left, .right{
    display: flex;
    gap: 10px;
}
.right{
    margin-left: 1140px;
    margin-top: -25px;
}
.notification-item {
    display: flex;
    align-items: center; /* Aligns items vertically */
  }
  
  .notification-item img {
    margin-right: 8px; /* Adds some space between the image and the text */
  }
  .Login-item {
    display: flex;
    align-items: center; /* Aligns items vertically */
  }
  
  .Login-item img {
    margin-right: 8px; /* Adds some space between the image and the text */
  }
  .logo img{
    width: 200px;
    margin-left: 30px;
    margin-top: 10px;
  }
  .kategori{
    font-size: 25px;
    margin-left: 240px;
    margin-top: -70px;
  }
  .kategori p{
    color: black;
  }
  .search{
    margin-left: 350px;
    margin-top: -60px;
  }
  .search input{
    width: 820px;
    height: 30px;
    padding-left: 30px;
  }
  .search img{
    position: absolute;
    width: 20px;
    margin-left: -850px;
    margin-top: 8px;
    opacity: 50%;
  }
  .keranjang{
    margin-left: 1250px;
    margin-top: -40px;
  }
  .keranjang img{
    width: 40px;
  }
  .list-header li{
    list-style: none;
  }
  .list-header ul{
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .list-header a{
    text-decoration: none;
    color: black;
  }
  .list-header a:hover{
    color: lightgray;
    transition: 0.3s;
  }
  .custom-hr{
    border: none;
    border-top: 1px solid black; /* Ubah warna dan ketebalan garis sesuai kebutuhan */
    margin: 20px 0; /* Atur jarak vertikal dari garis ke elemen lain */
  }
  /*css untuk web banner*/
  .web-banner {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slider {
    display: flex;
    width: 1920px; /* Sesuaikan dengan jumlah slide */
    animation: slide-right 13s infinite;
  }
  
  .slides {
    width: 100%;
    flex: 1 0 100%;
  }
  .slides img {
    width: 1420px;
    height: auto;
  }
  @keyframes slide-right {
    0% {
      transform: translateX(0%);
    }
    30% {
      transform: translateX(0%);
    }
    33% {
      transform: translateX(-100%);
    }
    63% {
      transform: translateX(-100%);
    }
    66% {
      transform: translateX(-200%);
    }
    96% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  