*{
  font-family: sans-serif;
}
* a{
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
header{
  top: 0;
  left: 0;
  position: fixed;
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
  background: white;
}
.nav li{
    list-style-type: none;
    color: black;
    margin-top: 15px;
}
.nav img{
    width: 15px;
}
.left, .right{
    display: flex;
    gap: 10px;
}
.right{
    margin-left: 1140px;
    margin-top: -35px;
}
.notification-item {
    display: flex;
    align-items: center; /* Aligns items vertically */
  }
  
  .notification-item img {
    margin-right: 8px; /* Adds some space between the image and the text */
  }
  
  .Login-item {
    display: flex;
    align-items: center; /* Aligns items vertically */
  }
  
  .Login-item img {
    margin-right: 8px; /* Adds some space between the image and the text */
  }
  .logo img{
    width: 200px;
    margin-left: 30px;
    margin-top: 10px;
  }
  .kategori{
    font-size: 25px;
    margin-left: 240px;
    margin-top: -70px;
  }
  .kategori p{
    color: black;
  }
  .search{
    margin-left: 350px;
    margin-top: -60px;
  }
  .search input{
    width: 820px;
    height: 30px;
    padding-left: 30px;
  }
  .search img{
    position: absolute;
    width: 20px;
    margin-left: -850px;
    margin-top: 8px;
    opacity: 50%;
  }
  .keranjang{
    margin-left: 1250px;
    margin-top: -40px;
  }
  .keranjang img{
    width: 40px;
  }
  .list-header li{
    list-style: none;
  }
  .list-header ul{
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .list-header a{
    text-decoration: none;
    color: black;
  }
  .list-header a:hover{
    color: lightgray;
    transition: 0.3s;
  }
  .custom-hr{
    border: none;
    border-top: 1px solid black; /* Ubah warna dan ketebalan garis sesuai kebutuhan */
    margin: 20px 0; /* Atur jarak vertikal dari garis ke elemen lain */
  }
  /*css untuk web banner*/
  .web-banner {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slider {
    display: flex;
    width: 1920px; /* Sesuaikan dengan jumlah slide */
    animation: slide-right 13s infinite;
  }
  
  .slides {
    width: 100%;
    flex: 1 0 100%;
  }
  .slides img {
    width: 1420px;
    height: auto;
  }
  @keyframes slide-right {
    0% {
      transform: translateX(0%);
    }
    30% {
      transform: translateX(0%);
    }
    33% {
      transform: translateX(-100%);
    }
    63% {
      transform: translateX(-100%);
    }
    66% {
      transform: translateX(-200%);
    }
    96% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .title-promo {
    background-color: lightblue;
    width: 120px;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 20px 100px 100px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    margin-top: 80px;
}
.title-promo img {
  width: 30px;
  filter: brightness(0) invert(1);
  margin-right: 5px;
}
  /*css container*/
  .container{
    display: flex;
    gap: 50px;
    margin-left: 60px;

  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 280px;
    margin-top: 80px;
  }
  .card a{
    color: black;
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
  }
  
  /* Add some padding inside the card container */
  .detail-pic {
    padding: 2px 16px;
  }
  .detail-pic img{
    width: 15px;
  }
  .icon-location {
    display: flex;
    align-items: center; /* Aligns items vertically */
  }
  .title-cod {
    background-color: lightblue;
    width: 120px;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 20px 100px 100px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    margin-top: 80px;
}
.title-cod img {
  width: 30px;
  filter: brightness(0) invert(1);
  margin-right: 5px;
}
.title-gratis-ongkir {
  background-color: lightblue;
  width: 200px;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 20px 100px 100px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  margin-top: 80px;
}
.title-gratis-ongkir img {
width: 30px;
filter: brightness(0) invert(1);
margin-right: 5px;
}
.title-murah-meriah {
  background-color: lightblue;
  width: 200px;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 20px 100px 100px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  margin-top: 80px;
}
.title-murah-meriah img {
width: 30px;
filter: brightness(0) invert(1);
margin-right: 5px;
}
.title-flash-sale {
  background-color: lightblue;
  width: 180px;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 20px 100px 100px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  margin-top: 80px;
}
.title-flash-sale img {
width: 30px;
filter: brightness(0) invert(1);
margin-right: 5px;
}
